/* Timeline container */
.timeline {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 5px;
}

.timeline-type{
    display: flex;
    justify-content: space-around;
    
}

.timeline a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 16px;
}

.tactive{
    color: #4fad52!important;
}

/* Timeline item */
.timeline-item {
    list-style: none;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Poll question styling */
.timeline-item h3 {
    color: #333;
    margin-bottom: 10px;
}

.timeline label{
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    border: 1px solid rgb(0, 0, 0);
    width: 5rem;
    height: 1.5rem;
} 

.timeline span {
    display: flex;
    justify-content: center;
    margin-left: 1rem;
}

/* Poll options styling */
.timeline-item ul {
    list-style: none;
    padding: 0;
}

.timeline-item li {
    margin-bottom: 4px;
    color: #555;
}

/* Add some hover effect for better interactivity */
.timeline-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Add transition for a smooth effect */
.timeline-item {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


/* Timeline.css */

/* Additional styling for poll options */
.timeline-item ul {
    list-style: none;
    padding: 0;
}

.timeline-item li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    color: #555;
}

/* .timeline{
    color: rgb(89, 89, 89);
} */
